<div class="filter">
    <mat-form-field>
        <mat-label>Sort</mat-label>
        <mat-select name="sort" panelClass="sort-select"  [(ngModel)]="sort">
            <mat-option value="-empty"></mat-option>
           <mat-option value="-name">Name</mat-option>
           <mat-option value="-released"> Released</mat-option>
           <mat-option value="-added"> Added</mat-option>
           <mat-option value="-rating"> Rating </mat-option>
           <mat-option value="-popularity"> Popularity </mat-option>
           <mat-option value="-metacritic"> MetaCritic</mat-option>

        </mat-select>
    </mat-form-field>

    <div class="games">
        <div class="game">
            <div class="game-thumb-container">
                <img class="game-thumbnail" src="https://images.igdb.com/igdb/image/upload/t_cover_big/nocover.jpg" alt="thumbnail"/>
            </div>

            <div class="game-description">
                <div class="game-name">
                    <h2>Game Name</h2>
                </div>
                <div class="game-platforms">
                    <div class="game-platform">
                        <h2>xbox</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>